[user]
    name = Mike Putnam
    email = mike@theputnams.
[core]
	editor = vim
        excludesfile = ~/.gitignore

[color]
	ui = auto

[push]
	# Push current branch even if you've never pushed it before
	default = current
