[color]
    ui = auto
    editor = vim
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[push]
    # Push current branch even if you've never pushed it before
    default = current
[user]
    name = Mike Putnam
    email = mike@theputnams.net
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[pull]
	rebase = false
