XTerm*VT100.renderFont: false
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*bellIsUrgent: true
XTerm*charClass: 33:48,35-39:48,42-43:48,45-47:48,58:48,61:48,63-64:48,126:48
XTerm*cursorBlink: on
XTerm*cursorColor: WhiteXTerm*utf8Title: true
XTerm*cursorOffTime: 250
XTerm*cursorOnTime: 400
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 24
XTerm*locale: true
XTerm*loginShell: true
XTerm*maximized: true
XTerm*metaSendsEscape: true
XTerm*saveLines: 9000
XTerm*scrollBar: false
XTerm*termName: xterm
XTerm*trimSelection: true
XTerm*utf8: true
